
.layui-laydate-content,  .layui-laydate-footer {
    background: #555555;
}
.layui-laydate-content .laydate-day-next, .layui-laydate-content .laydate-day-prev {
   	color: #666;
}
.layui-laydate-content td {
    color: #d2d2d2;
    border: 0px;
}
.layui-laydate-content th {
    color: #eeeeee;
}
.laydate-footer-btns span {
    background-color: #444444;
}
.layui-laydate, .layui-laydate-hint {
    color: #eeeeee;
}
.layui-laydate-content td {
   	background-color: #444444;
}
.laydate-theme-molv .layui-laydate-content {
    border: 0px;
}
.laydate-theme-molv .layui-laydate-footer {
    border: 0px;
}